
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    color: white;
    top: 0px;
    text-align: center;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    color: black;
    top: 10px;
    text-align: center;

}

li {
  text-align: center;
}

p {
    font-family: Calibri;
    font-size: 20px;
    color: black;
    position: relative;
    text-align: center;
    line-height: 50px;
}

  main .blog p {
    font-family: Calibri;
    font-size: 20px;
    color: black;
      line-height: 2;
    position: relative;
    line-height: 10px;
  }

.collapsible {
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  outline: none;
  font-size: 15px;
  text-align: center;
  position: relative;
  left: 25%;
  border-radius: 50px;
  box-shadow: black;
  font-size: 25px;
  margin: 10px;
  border: 2px solid black;
  box-shadow: 3px 3px black;
}

.active, .collapsible:hover {
  background-color: #ccc;
}
