body {
    background-color: #f0f0f0;
    background-image: linear-gradient(to right, #656565,#222222);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow-x: hidden;
    margin: 0;
}

h1 {
    color: white;
}
