h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    color: Black;
    top: 0px;
    text-align: center;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    color: black;
    text-align: center;
}

body {
background-color: #f0f0f0;
background-repeat: no-repeat;
background-image: none;
background-size: cover;
background-position: 50% 50%;
overflow-x: hidden;
background-image: linear-gradient(to right, gray, white, gray);
padding-bottom: 20px;
}

p {
    font-family: Calibri;
    font-size: 20px;
    color: black;
    position: relative;
    text-align: center;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: gray; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    text-decoration: none;
  }
  
 .sidenav li {
     list-style-type: none;
 }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    transition: 0.3s;
  }
  

  .sidenav a:hover {
    color: #f1f1f1;
  }
  
 
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  #main .monitor h2 {
    top: 25px;
  }

  #main .blog p {
    font-family: Calibri;
    font-size: 20px;
    color: black;
    position: relative;
    line-height: 10px;
  }

  #main nav ul {
    list-style-type: none;
    margin-top: -20px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 710px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

#main nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#main nav li a:hover {
    background-color: lightblue;
}

#main nav ul li span {
    color: white;
    padding: 20px;
    position: relative;
    top: -2px;
}
#main nav li span:hover {
    background-color: lightblue;
}

#main nav li a.active {
  background-color: lightblue;
  color: white;
}
#main table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#main table thead {
background-color: #333333;
color: white;
}
#main table tbody {
  background-color: #EBECF0;
}

#main .monitor {
  width: 970px;
  height: 670px;
  background-color: lightblue;
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}

progress {
  width: 50%;
  height: 40px;
  margin-left: 25%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  
}
progress:after {
  content: attr(value)'EC';
  color: black;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main footer {
  position: absolute;
  width: 101%;
  background-color: #333333;
  height: 75px;
  left: -10px;
  margin-top: 20px;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}