a {
  border: 2px;
}


body {
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #656565,#222222);
    padding-bottom: 743px;
}

h1 {
  position: relative;
  padding: -10px;
  text-align: center;
  color: white;
  border: 2px;
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: 10px;
}

h2 {
  position: relative;
  text-align: center;
  line-height: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  top: 10px;
}

p {
    margin-top: 0px;
  position: relative;
  text-align: center;
  font-family: Calibri;
  line-height: 1.5;
  font-size: 20px;
  color: black;
}

main .collapsible {
  background-color: gray;
  color: white;
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 50px;
  box-shadow: 3px 3px black;
  position: relative;
  left: 25%;
  margin-bottom: 10px;
}


main .active, .collapsible:hover {
  background-color: lightblue;
}


main .content {
  padding: 0px;
  background-color: #BEBEBE;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 50px;
  border: 2px;
  width: 65%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px black;
  margin-bottom: 10px;
}
